.indexBarContainer {
  position: relative;
  min-height: 570px;
  user-select: none;
  cursor: pointer;
}

.letterBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, .1);
  border-radius: 10px;
  width: 22px;
  z-index: 100;
  padding: 5px 0;
}

.letter {
  font-size: 20px;
  color: black;
  line-height: 1.1;
  transition: all .3s;
  transform: scale(.8);

  &:hover,
  &.active {
    // font-size: 18px;
    color: #0092F9;
    transform: scale(1);
  }
}
